@model Quick.Application.PermissionDto
<div class="page-content">
    <form id="myform" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="container form-horizontal padding-top-30">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <label class="red">*</label>权限名称:
                </label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(t => t.Name, new { @class = "form-control required" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <label class="red">*</label>编码:
                </label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(t => t.Code, new { @class = "form-control required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    图标 :
                </label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(t => t.Icon, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    排序 :
                </label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(t => t.OrderSort, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    描述 :
                </label>
                <div class="col-sm-6">
                    <textarea name="Description" class="form-control" rows="2">@Model.Description</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    启用 :
                </label>
                <div class="col-sm-6">
                    <input type="checkbox" name="Enabled" value="true" checked="@Model.Enabled" />
                </div>
            </div>
        </div>
        <div class="wx-form-footer fixed">
            <button id="btn-save" type="submit" class="btn btn-primary btn-lg w100">保存</button>
            <button id="btn-cancel" type="button" class="btn btn-default btn-lg w100">取消</button>
        </div>
    </form>
</div>
@section js{
    @Scripts.Render("~/js/form")
    <script type="text/javascript">
        $(function () {
            site.validate.form("#myform", {
                url: "/Account/Permission/CreateOrUpdate",
            }, {
                rules: {

                }
            });
        });
    </script>
}