<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i>控制面板 </a>
    <ul>
        <li class="index"><a href="/Home/Index"><i class="icon icon-home"></i><span>首页</span></a> </li>
        @{
            var sidebarMenu = Session["SidebarMenu"] as List<Quick.Application.ModuleDto>;
            if (sidebarMenu != null)
            {

                foreach (var parentMenu in sidebarMenu)
                {

            <li class="submenu">
                <a href="javascript:void(0)">
                    <i class="icon @parentMenu.Icon"></i><span>@parentMenu.Name</span>
                    @if (parentMenu.ChildModule.Count > 0)
                    {

                        <span class="label label-important">
                            @parentMenu.ChildModule.Count
                        </span>
                    }
                </a>
                <ul class="childmenu">
                    @foreach (var childMenu in parentMenu.ChildModule)
                    {

                        <li><a rel="@childMenu.Controller" href="@Url.Action(childMenu.Action, childMenu.Controller, new { Area = childMenu.Area }, null)"><i class="icon @childMenu.Icon"></i><span>@childMenu.Name</span></a></li>
                    }
                </ul>
            </li>
                }

            }
        }
    </ul>
</div>
