@model Quick.Application.ModuleDto
@{
    Layout = null;
}

<div class="control-group">
    <input type="hidden" name="Id" value="@Model.Id"/>
    <label class="control-label-form">
        <label class="red">*</label>模块名称:
    </label>
    <div class="controls">
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
    </div>
</div>

<div class="control-group">
    <label class="control-label-form">
        上级模块:
    </label>
    <div class="controls">
        @Html.DropDownList("ParentId", new SelectList(ViewBag.ParentModuleList, "Id", "Name", Model.ParentId), "请选择", new { @class = "form-control" })
    </div>
</div>
> 
<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>链接:
    </label>
    <div class="controls">
        @Html.TextBoxFor(t => t.LinkUrl, new { @class = "form-control" })<label>格式：Area/Conttroller/Action</label>
    </div>
</div>
<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>编码:
    </label>
    <div class="controls">
        @Html.TextBoxFor(t => t.Code, new { @class = "form-control" })
    </div>
</div>
<div class="control-group">
    <label class="control-label-form">
        图标 :
    </label>
    <div class="controls">
        @Html.TextBoxFor(t => t.Icon, new { @class = "form-control" })
    </div>
</div>
<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>排序 :        
    </label>
    <div class="controls">
        @Html.TextBoxFor(t => t.OrderSort, new { @class = "form-control" })
    </div>
</div>
<div class="control-group">
    <label class="control-label-form">
        是否菜单:          
    </label>
    <div class="controls">
        @Html.CheckBoxFor(t => t.IsMenu)
    </div>
</div>

<div class="control-group">
    <label class="control-label-form">
        激活 : 
    </label>
    <div class="controls">
        @Html.CheckBoxFor(t => t.Enabled)
    </div>
</div>

