@model ModuleDto
@{
    Layout = null;
}


<h2>@Model.Name</h2>
<input type="hidden" name="ModuleId" value="@Model.Id" />
@{
    if (ViewBag.PermissionList != null)
    {
        foreach (PermissionItem permission in ViewBag.PermissionList)
        {
            var ischecked = "";
            if (ViewBag.SelectedPermissionIds != null && ViewBag.SelectedPermissionIds.Contains(permission.Id))
            {

                ischecked = "checked='checked'";
            }
    <input type="checkbox" name="SelectedPermissionIds" value="@permission.Id" id="@permission.Id" @ischecked/>
    <label for="@permission.Id">@permission.Name</label>
        }
    }
}

