@section css{
    @Styles.Render("~/bundles/css/jqueryui")
}

<div id="content-body" class="row-fluid">
    <div class="span22">
        <!--操作 -->
        @Html.Partial("Search")

        <!--列表-->
        @Html.Partial("List")

        @Html.Partial("_FormModal")

          <!--授权-->
        @Html.Partial("_FormModalPermission")

    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        var oTable = null;

        $(function () {
            var actionUrl = "@Url.Action("List")?rand=" + Math.random();
            var aoColumns = [
                    { "sTitle": "角色名称", "mDataProp": "Name", "bSortable": false },
                    { "sTitle": "描述", "mDataProp": "Description", "bSortable": false },
                    { "sTitle": "排序", "mDataProp": "OrderSort", "bSortable": false },
                    { "sTitle": "是否激活", "mDataProp": "Enabled", "bSortable": false, "fnRender": renderBool },
                    {
                        "sTitle": "操作",
                        "mDataProp": "Id",
                        "bSortable": false,
                        "fnRender": function (obj, data) {
                            var btnArray = "";
                            btnArray += '<button type="submit" id="add" class="btn btn-primary btn-normal" title="授权" onclick="SetPermission(' + data + ')"><span class="icon-pencil"></span></button>'

                            btnArray += '<button type="submit" id="add" class="btn btn-primary btn-normal" title="编辑" onclick="Edit(' + data + ')"><span class="icon-pencil"></span></button>'

                            btnArray += '<button type="submit"  class="btn btn-danger btn-normal" title="删除" onclick="Delete(' + data + ')"><span class="icon-remove"></span></button>'

                            return btnArray;
                        }
                    }
            ];
            //初始化表格
            oTable = InitDatatables($(".data-table"), actionUrl, aoColumns, oTable);
        });

        //查询
        function Search() {
            var filterdata = $(".search-form").serialize();
            var actionUrl = "@Url.Action("List")?rand=" + Math.random() + "&" + filterdata;
            SearchRecord(actionUrl, oTable);
        }

        //新增
        function Create() {
            var actionUrl = "@Url.Action("Edit")";
            var saveActionUrl = "@Url.Action("Create")";
            var param = {};
            ShowModal(actionUrl, saveActionUrl, param, "新增角色");
        }

        //编辑
        function Edit(id) {
            var actionUrl = "@Url.Action("Edit")";
            var saveActionUrl = "@Url.Action("Update")";
            var param = { id: id }
            ShowModal(actionUrl, saveActionUrl, param, "编辑角色");
        }

        //授权
        function SetPermission(id) {
            var actionUrl = "@Url.Action("SetPermission")/" + id;

            //表单初始化
            $.get(actionUrl, function (data) {
                $("#modal-content-permission").html(data);
                var roleName = $("#RoleName").val();
                $(".modal-title-permission").html("角色授权 - [" + roleName + "]");
                $('#modal-form-permission').modal('show');
                RegisterForm();
            });
        }
        
        //保存授权
        function SavePermission() {
            //新模块权限
            var roleId = $("#RoleId").val();
            var newModulePermission = new Array();
            $("input[type = 'checkbox'][name = 'modulecheck']").each(function () {
                if (this.checked) {
                    //模块
                    var moduleId = $(this).val();
                    //权限列表
                    var permissionObj = $(".childpermissioncheck-" + $(this).val());
                    if (permissionObj.length == 0) {
                        //父模块
                        var newModulePermissionData = {};
                        newModulePermissionData["RoleId"] = roleId;
                        newModulePermissionData["ModuleId"] = moduleId;
                        newModulePermissionData["PermissionId"] = null;
                        newModulePermission.push(newModulePermissionData);
                    } else {
                        permissionObj.each(function () {
                            if (this.checked) {
                                var newModulePermissionData = {};
                                newModulePermissionData["RoleId"] = roleId;
                                newModulePermissionData["ModuleId"] = moduleId;
                                newModulePermissionData["PermissionId"] = $(this).val();
                                //添加到数组
                                newModulePermission.push(newModulePermissionData);
                            }
                        });
                    }
                }
            });

            var actionUrl = "@Url.Action("SetPermission")";
            var $form = $("#modal-content-permission");
            var isSet = $("input[name='isSet']").val();
            var data = { RoleId: roleId, IsSet: isSet, newModulePermission: JSON.stringify(newModulePermission) }
            $.ajax({
                type: "POST",
                url: actionUrl,
                data: data,
                success: function (data) {
                    bootbox.alert("保存成功！");
                    $('#modal-form-permission').modal('hide');
                    
                }
            });
        }

        function ClosePermissionModal() {
            $('#modal-form-permission').modal('hide');
            ClearForm($("#modal-content-permission"));
        }

        //删除
        function Delete(id) {
            var actionUrl = "@Url.Action("Delete")";
            var param = { id: id }
            DeleteRecord(actionUrl, param, oTable);
        }
    </script>
}